.baseBoard{
  width: 400px;
  height: 400px;
  border: 2px solid blue;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
}

.squareBoard {
  border: 1px solid black;
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  cursor: grab;
}
.emptySpace {
  cursor: default;
}

